div {
    width: 1500px;
    margin: 50px auto;
    background-color: rgb(77, 4, 77);
  }
  
  h1 {
    text-align: center;
    color: orange;
  }
  h2 {
    text-align: center;
    color: orange;
  }
  h3 {
    text-align: left;
    color: rgb(77, 4, 77);
  }
  p {
    text-align: left;
    color: orange;
  }
  nav {
    text-align: center;
    color: rgb(77, 4, 77);
  }
  figure {
      text-align: center;
  }